In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("spotify.csv")

In [3]:
data

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...
...,...,...,...,...
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [4]:
data.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [5]:
data.tail()

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [6]:
data.sample(5)

,artist,song,link,text
5595,Everclear,Annabella's Song,/e/everclear/annabellas+song_20052064.html,I see you roll your eyes \r\nYou know it make...
55986,Westlife,I Have A Dream,/w/westlife/i+have+a+dream_10186829.html,"[Shane:] \r\nI have a dream, a song to sing ..."
45209,Ne-Yo,Story Time,/n/ne+yo/story+time_21094300.html,"[Intro] \r\nAiight boys and girls, gather 'ro..."
43259,Matt Monro,Before You Go,/m/matt+monro/before+you+go_21027932.html,Come to me \r\nBefore you say goodbye \r\nHo...
49577,Quicksand,It Would Be Cooler If You Did,/q/quicksand/it+would+be+cooler+if+you+did_203...,"If, you turn, turn away, \r\nI, can pretend, ..."

In [7]:
data.ndim

2

In [8]:
data.size

230600

In [9]:
data.shape

(57650, 4)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57650 entries, 0 to 57649
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   artist  57650 non-null  object
 1   song    57650 non-null  object
 2   link    57650 non-null  object
 3   text    57650 non-null  object
dtypes: object(4)
memory usage: 1.8+ MB

In [11]:
data.describe()

,artist,song,link,text
count,57650,57650,57650,57650
unique,643,44824,57650,57494
top,Donna Summer,Have Yourself A Merry Little Christmas,/a/abba/ahes+my+kind+of+girl_20598417.html,I just came back from a lovely trip along the ...
freq,191,35,1,6

In [12]:
data.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [13]:
data.columns

Index(['artist', 'song', 'link', 'text'], dtype='object')

In [14]:
df=data.drop("link",axis=1).reset_index(drop=True)

In [15]:
df.head()

,artist,song,text
0,ABBA,Ahe's My Kind Of Girl,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante","Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,Making somebody happy is a question of give an...

In [16]:
df["text"][1]

"Take it easy with me, please  \r\nTouch me gently like a summer evening breeze  \r\nTake your time, make it slow  \r\nAndante, Andante  \r\nJust let the feeling grow  \r\n  \r\nMake your fingers soft and light  \r\nLet your body be the velvet of the night  \r\nTouch my soul, you know how  \r\nAndante, Andante  \r\nGo slowly with me now  \r\n  \r\nI'm your music  \r\n(I am your music and I am your song)  \r\nI'm your song  \r\n(I am your music and I am your song)  \r\nPlay me time and time again and make me strong  \r\n(Play me again 'cause you're making me strong)  \r\nMake me sing, make me sound  \r\n(You make me sing and you make me)  \r\nAndante, Andante  \r\nTread lightly on my ground  \r\nAndante, Andante  \r\nOh please don't let me down  \r\n  \r\nThere's a shimmer in your eyes  \r\nLike the feeling of a thousand butterflies  \r\nPlease don't talk, go on, play  \r\nAndante, Andante  \r\nAnd let me float away  \r\n  \r\nI'm your music  \r\n(I am your music and I am your song)  \r\nI'm your song  \r\n(I am your music and I am your song)  \r\nPlay me time and time again and make me strong  \r\n(Play me again 'cause you're making me strong)  \r\nMake me sing, make me sound  \r\n(You make me sing and you make me)  \r\nAndante, Andante  \r\nTread lightly on my ground  \r\nAndante, Andante  \r\nOh please don't let me down  \r\n  \r\nMake me sing, make me sound  \r\n(You make me sing and you make me)  \r\nAndante, Andante  \r\nTread lightly on my ground  \r\nAndante, Andante  \r\nOh please don't let me down  \r\nAndante, Andante  \r\nOh please don't let me down\r\n\r\n"

In [17]:
df["text"]=df["text"].str.lower().replace(r'^\w\s',' ').replace(r'\n',' ',regex=True)

In [18]:
df["text"][1]

"take it easy with me, please  \r touch me gently like a summer evening breeze  \r take your time, make it slow  \r andante, andante  \r just let the feeling grow  \r   \r make your fingers soft and light  \r let your body be the velvet of the night  \r touch my soul, you know how  \r andante, andante  \r go slowly with me now  \r   \r i'm your music  \r (i am your music and i am your song)  \r i'm your song  \r (i am your music and i am your song)  \r play me time and time again and make me strong  \r (play me again 'cause you're making me strong)  \r make me sing, make me sound  \r (you make me sing and you make me)  \r andante, andante  \r tread lightly on my ground  \r andante, andante  \r oh please don't let me down  \r   \r there's a shimmer in your eyes  \r like the feeling of a thousand butterflies  \r please don't talk, go on, play  \r andante, andante  \r and let me float away  \r   \r i'm your music  \r (i am your music and i am your song)  \r i'm your song  \r (i am your music and i am your song)  \r play me time and time again and make me strong  \r (play me again 'cause you're making me strong)  \r make me sing, make me sound  \r (you make me sing and you make me)  \r andante, andante  \r tread lightly on my ground  \r andante, andante  \r oh please don't let me down  \r   \r make me sing, make me sound  \r (you make me sing and you make me)  \r andante, andante  \r tread lightly on my ground  \r andante, andante  \r oh please don't let me down  \r andante, andante  \r oh please don't let me down\r \r "

In [48]:
import nltk
from nltk.stem.porter import PorterStemmer

In [49]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\aryan\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [50]:
stemmer=PorterStemmer()

In [51]:
def token(txt):
    token=nltk.word_tokenize(txt)
    a=[stemmer.stem(w) for w in token]
    return " ".join(a)

In [52]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [53]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [54]:
from scipy.sparse import save_npz

In [55]:
df["text"].apply(lambda x: token(x))

0        look at her face , it 's a wonder face and it ...
1        take it easi with me , pleas touch me gentli l...
2        i 'll never know whi i had to go whi i had to ...
3        make somebodi happi is a question of give and ...
4        make somebodi happi is a question of give and ...
                               ...
57645    iri day come on play let the angel fli let the...
57646    power to the worker more power power to the wo...
57647    all you need is someth i 'll believ flashlight...
57648    northern star am i frighten where can i go to ...
57649    come in make yourself at home i 'm a bit late ...
Name: text, Length: 57650, dtype: object

In [56]:
tfid=TfidfVectorizer(stop_words="english",max_features=5000)

In [57]:
matrix=tfid.fit_transform(df1["text"])

In [58]:
matrix

<20000x5000 sparse matrix of type '<class 'numpy.float64'>'
	with 944003 stored elements in Compressed Sparse Row format>

In [60]:
similar=cosine_similarity(matrix)

In [61]:
similar

array([[1.        , 0.00814767, 0.01582656, ..., 0.09788147, 0.04442581,
        0.01162952],
       [0.00814767, 1.        , 0.01769683, ..., 0.02732213, 0.03449336,
        0.        ],
       [0.01582656, 0.01769683, 1.        , ..., 0.01165456, 0.00231612,
        0.0058648 ],
       ...,
       [0.09788147, 0.02732213, 0.01165456, ..., 1.        , 0.05817113,
        0.00103676],
       [0.04442581, 0.03449336, 0.00231612, ..., 0.05817113, 1.        ,
        0.        ],
       [0.01162952, 0.        , 0.0058648 , ..., 0.00103676, 0.        ,
        1.        ]])

In [62]:
similar[0]

array([1.        , 0.00814767, 0.01582656, ..., 0.09788147, 0.04442581,
       0.01162952])

In [67]:
df[df["song"]=="Bang"].index[0]

3

In [71]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similar[idx])),reverse=True,key=lambda x:x[1])   
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
    return songs

In [80]:
recommendation("Happy")

['Millenium',
 'Changes',
 "Love The One You're With",
 'Fingerprints',
 'Girl, I Think The World About You',
 'Lie To Me',
 'Blind Willie Mctell',
 'It All Depends On You',
 'Casanova In Hell',
 "Daddy Don't Mind",
 'Memories',
 'Ageless Medley',
 'Draw The Line',
 'For Father',
 'Jihad',
 'Knocks Me Off My Feet',
 'One Vision',
 'Watercolours In The Rain',
 'Save The Last Dance For Me',
 'The Toys Go Winding Down']

In [81]:
import pickle
pickle.dump(similar,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))